* {
    color: cornsilk;
}

body {
    background: #420666;
    padding: 0px;
    margin: 0px;
    text-align: center;
    min-height: 100vh;
}

footer {
    background: #212529;
    height: 7em;
    position: sticky;
    width: 100%;
    top: 100vh;
}

a:hover {
    color: #a200ff
}