body {
    background: #420666;
    color: aliceblue;
    padding: 0px;
    margin: 0px;
    text-align: center;
    min-height: 100vh;
}

footer {
    color: aliceblue;
    background: #212529;
    height: 6em;
    position: sticky;
    width: 100%;
    top: 100vh;
}